.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .form_section {
    margin: 40px 0;
    display: flex;


    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        padding: 10px;
      }

      button {
        margin-top: 8px;
        color: white;
        font-size: 16px;
        background-color: black;
        border-radius: 8px;
        min-width: 60px;
        transition: all 0.3ms ease-in-out;

        &:hover {
          cursor: pointer;
        }

        &:active {
          transform: scale(1.05);
        }
      }
    }
  }

  .users_section {
    padding: 5px;
    max-height: 50vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}

